<p>example works!</p>
<br>
<!-- <h1>Hello....{{name}}</h1>
<br>
<h2>10+20={{10+20}}</h2>
<h2>{{"hai...welcome..."+name}}</h2>
<br>
<h2>{{name.length}}</h2>
<br>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{display()}}</h2>
<input type="text" value="welcome">
<br>
<input type="text" [value]="name">
<h1>{{msg}}</h1>
<h1 class="success">{{msg}}</h1>
<br>
<h1 [class]="wclass">{{msg}}</h1>
{{Bstatus}}
<br>
<button (click)="onclick()">Click Here</button>
<br>
<input type="text" [(ngModel)]="msg1">
<br>
<input type="text" [(ngModel)]="msg1">
<br> <br>
 -->

<!-- 
<button (click)="dis()">Click ME</button> -->
<!--<br>
<p *ngIf="ischeck"> Haiii Good Afternoon</p>
<br>
<p *ngIf="!ischeck"> Haiii Good morning</p>


<div *ngIf="ischeck;else lb1">
    Haiii goodmorning?
</div>
<ng-template #lb1>
    Hello how are you?
</ng-template> -->

<!-- <ng-template [ngIf]="ischeck" [ngIfElse]="lb1">
    Haii this is true
</ng-template>
<ng-template #lb1>
    Haiii...This is false
</ng-template>
<br>
<br>
<ul>
    <li *ngFor="let item of studenlist">
        {{item.Id}},{{item.name}},{{item.Mark}}
    </li>
</ul>
<container-element [ngSwitch]="getday">
    <span *ngSwitchCase="0"><h1>Sunday</h1></span>
    <span *ngSwitchCase="1"><h1>Monday</h1></span>
    <span *ngSwitchCase="2"><h1>Tuesday</h1></span>
    <span *ngSwitchCase="3"><h1>Wednesday</h1></span>
    <span *ngSwitchCase="4"><h1>Thursday</h1></span>
</container-element> -->

<h1>Haiiiiii</h1>
